@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrittiSansVariable";
  src: url("/fonts/webfonts/britti-sans-variable.woff2")
    format("woff2-variations");
  font-weight: 100 800;
}

:root {
  --background: 0 0% 95.5%;
  --foreground: 0 0% 5.5%;

  --muted: 0 0% 93.1%;
  --muted-foreground: 0 0% 24.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;

  --border: 0 0% 83.8%;
  --input: 0 0% 89.8%;

  --color-primary: #3b82f6;

  --primary: 0 0% 20%;
  --primary-foreground: 0 0% 98%;

  --secondary: 0 0% 86.1%;
  --secondary-foreground: 0 0% 20%;

  --accent: 0 0% 91.1%;
  --accent-foreground: 0 0% 20%;

  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 0 0% 98%;

  --ring: 0 0% 20%;

  --radius: 0.5rem;

  --commerce: 167 100% 25%; /* Shopify green in HSL */
  --commerce-foreground: 0 0% 100%; /* White */

  --ai: 32 100% 60%;
  --ai-foreground: 32 100% 20%;
}

.dark {
  --background: 0 0% 5%;
  --foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 79.9%;

  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;

  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;

  --border: 0 0% 20.9%;
  --input: 0 0% 14.9%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --ring: 0 0% 83.1%;

  --commerce: 167 100% 25%; /* Same as light mode, adjust if needed */
  --commerce-foreground: 0 0% 100%; /* White */

  --ai: 32 100% 50%;
  --ai-foreground: 32 100% 90%;
}
body,html {
  background-color: var(--background);
}

main {
  background-color: var(--background);

}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #141414; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground); /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #141414; /* creates padding around scroll thumb */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) #141414;
  font-family: "BrittiSansVariable", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#app {
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #ffffff !important;
}
