@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrittiSansVariable";
  src: url("/fonts/webfonts/britti-sans-variable.woff2")
    format("woff2-variations");
  font-weight: 100 800;
}

html,
button,
a {
  cursor: none !important;

}

main {
    padding-top: 24px; /* Height of the titlebar */
  }


/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #141414; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #141414; /* creates padding around scroll thumb */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #141414;
  font-family: "BrittiSansVariable", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

   {
  }

  body {
    color: var(--color-text);
    background-color: var(--color-primary);
  }
}

#app {
    height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid #FFFFFF !important;

  }